@import "mixins";

landing {
	@include abs-fill;
	margin: 2em;

	header {
		z-index: 10;
	}

	.contact-info {
		display: flex;
		flex-direction: column;

		@include flex-center;
		.spacer {
			flex: 0.25 0
		}

		dt {
		}

		dd {
			margin: 0.25em 0 1em 1em;
		}

	}
}

