@import "variables";

@mixin abs-fill {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

@mixin flex-center {
	justify-content: center;
	align-items: center;
}

@mixin btn {
	margin: 2*$default-margin;
	display: inline-block;
	cursor: pointer;

	&:hover {
		color: grey;
	}
}

