doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Demo Page
		link(rel="stylesheet", type="text/css", href="index.css")

	body(data-ng-app="dante-codes")
		.content-loading(ng-hide="loaded")
			h2 loading

		landing

		script(
			src="app.bundle.js",
			async="true",
			defer="true"
		)
