body {
	color: #222;
	font-size: 16pt;
	background-color: lightskyblue;
	margin: 0;
	padding: 0;
}

a {
	color: chocolate;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: red;
}

.abs-fill {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#contact-info {
	margin: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	dd {
		margin: 0.25em 0 1em 1em;
	}
}
