@import "~normalize.css";
@import "variables";
@import "mixins";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  font-family: 'Open Sans', sans-serif;
	color: $color;
	font-size: $font-size;
	line-height: 1;
}

body {
	background-color: $base;
}

.content-loading {
	@include abs-fill;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	color: $emphasis;
	font-weight: bold;
	text-decoration: none;

	&:hover {
		color: lighten($emphasis, 10%);
	}
}


