doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Demo Page
		style(type="text/css").
			body {
				background-color: lightskyblue;
				font-family: sans;
			}

			.content-loading {
				text-align: center;
			}

	body(data-ng-app="dante-codes")
		h1.content-loading Loading...

		repl

		script(
			src="app.bundle.js",
			async="true",
			defer="true"
		)
