doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Demo Page
		style(type="text/css").
			body {
				background-color: lightskyblue;
				font-family: sans;
			}

			.content-loading {
				position: absolute;
				text-align: center;
				top: 50%;
				transform: translate(0, -50%);
				width: 100%;
			}

	body(data-ng-app="dante-codes")
		h1(ng-cloak).content-loading loading

		landing

		script(
			src="app.bundle.js",
			async="true",
			defer="true"
		)
