doctype
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name="viewport", content="width=device-width,initial-scale=1")
		meta(name="mobile-web-app-capable", content="yes")
		title Dante :: Codes

	body.abs-fill
			header
				| dante.codes

			#contact-info.abs-fill
				dl
					dt Email
					dd
						a(
							href="mailto:hey@dante.codes"
						) hey@dante.codes

					dt Github
					dd
						a(
							target="_blank"
							href="//github.com/c-dante"
						) c-dante

