doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title dante.codes
		link(rel="stylesheet", type="text/css", href="index.css")

	body(data-ng-app="dante-codes")
		.content-loading(
			ng-class="{ 'fly-away': loaded }"
		)
			h2 loading

		landing.fade

		script(
			src="app.bundle.js",
			async="true",
			defer="true"
		)
